{% extends 'users/partials/_base.html' %} {% block title %}login{% endblock %}
{% block content %}

<div class="container">
  <div class="row my-5">
    <div class="col-md-8 offset-md-2">
      <div class="alert alert-info">
        <p>
        Yeni bir şifre oluşturabilmeniz için email adresinize bir email gönderilmiştir..
        </p>

        <p>
          Eğer www.sinopluyuz.com'dan bir email almadıysanız önce yazdığınız email adresini
          kontrol ediniz. Eğer doğru ise mail adresinizdeki spam kutusunu
          bakınız. Gönderdiğimiz mail bu kutuya düşmüş olabilir. Eğer orada da yoksa
          muhtemel sistem yoğunluğundan kaynaklı bir gecikme olabilir. Bu
          sebeple isterseniz bir süre bekleyiniz veya aynı işlemi tekrar ediniz...
        </p>
      </div>
    </div>
  </div>
</div>

{% endblock %}
