{% extends 'users/partials/_base.html' %}
 {% block title %}login{% endblock %}
{% load crispy_forms_tags %}

{% block content %}


<div class="container">
  <div class="row my-5">
    <div class="col-md-8 offset-md-2">
    <form action="" method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Şifreyi Yenileme</legend>
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info my-2" type="submit">Şifreyi Yenile</button>
        </div>
    </form>
</div>
</div>
</div>
{% endblock %}