{% extends 'users/partials/_base.html' %} {% block title %}login{% endblock %}
{% load crispy_forms_tags %}
{% block content %}



<div class="container">
  <div class="row my-5">
    <div class="col-md-8 offset-md-2">
      <form action="" method="post">
        {% csrf_token %}
        <fieldset class="form-group">
          <legend class="border-bottom my-4">Yeni Şifre Oluşturma</legend>
          {{ form|crispy }}
        </fieldset>
        <div class="form-group">
          <button class="btn bg-primary text-white my-3" type="submit">Yeni Şifre</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
